<footer class="footer">
  <div class="footer-left">
    <p class="footer-text">
      &copy; HoosHousing LLC. {% now 'Y' %}
    </p>
  </div>
  <div class="footer-middle">
    <p>DEMO ENVIRONMENT NOTICE: This application was developed as an academic project and is presented for demonstration purposes only. The system is not actively monitored or maintained for production use. Please refrain from submitting any sensitive or personal information.</p>
  </div>
  <div class="footer-right">
    <div class="socials">
    </div>
  </div>
</footer>
